/* texto del cuerpo*/
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    /*el ancho y largo de un elemento, que tenga en cuenta cada borde y relleno*/
    box-sizing: border-box;
}
/*Sobre todo*/
 * {
   /* Relleno de los cuatro lados*/
    padding: 0;
    /* margenes de los cuatro lados */
    margin: 0;
    /* Define el tipo de lista*/
    list-style: none;
    /* Calcula el ancho y largo de los elementos, especifica el valor de los bordes*/    
}
/*Maneja el borde del menu*/
nav {
    /* Define el color de los elementos */
    background:aquamarine;
    /* Define la altura */
    height: 70px;
    /* Define el ancho*/ 
    width: 100%; 
   
}
/*Ubicación del objeto*/
.enlace {
    position: absolute;
   padding: 10px 30px;
}
/*Tamaño del objeto*/
.logo {
    /* Altura*/
    height: 45px;
}
/*Texto del menu*/
nav a {
    color: black;
    /* dimensiones de la letra */
    font-size: 18px;
    padding: 7px ;
    /* Tipo de redondeo de la esquina*/
    border-radius: 3px;
    /* Cambio de tamaño, La mayuscula*/
    text-transform: uppercase;
    cursor: pointer; 
     /* Define si el texto tiene subrayado */
       text-decoration: none;
   /*  line-height: 80px;
    margin-right: 40px;*/

}
/*El relleno*/
 ul a.active, 
 /* hover: efectua un segundo estado*/
 ul a:hover {
 background-color: blue;
 color: aliceblue;
    transition: .5s;
}
/*Posición de los elementos*/
nav ul li{
    /*Ubicación de un elemento */
   float: right;
    margin-right: 20px;
    line-height: 65px; 
    margin: 0 5px;
}




/* Pestañas (tabs) */
/* Contiene todo el formato*/
.container {
    width: 100%;
    /* Se le realizo cambio 30/05/2023*/
    max-width: 100%;
    margin: auto;
    margin-top: 0px;

}

.lbl-menu {
    background: #234;

}

.lbl-menu label {
    display: inline-block;
    padding: 20px;
    color: white;
    cursor: pointer;
    transition: all 400ms ease;
}
/* segundo estado*/
.lbl-menu label:hover {
    background: #97a5b2;

}

.content {
    position: relative;
}
/* Maneja la ventaja de información*/
.content div {
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: white;
    padding-bottom: 40px;
}

#radio1,
#radio2 {
    display: none;
    height: auto;
}

#radio1:checked~.tab1,
#radio2:checked~.tab2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    
}

a.raya {
    text-decoration: none;
}

/* ----------------------------- */